In [6]:
import pandas as pd
import numpy as np
df1 = pd.read_csv(r"D:\1st week\aapl.us.txt")
df2 = pd.read_csv(r"D:\1st week\amzn.us.txt")
df3 = pd.read_csv(r"D:\1st week\googl.us.txt")
df4 = pd.read_csv(r"D:\1st week\msft.us.txt")
df5 = pd.read_csv(r"D:\1st week\tsla.us.txt")


# Now we will check for "NaN values"

* We will use `isnull().sum()` function

In [2]:
dfs = {"AAPL":df1,"AMZN":df2,"GOOGL":df3,"MSFT":df4,"TSLA":df5}
for i in dfs:
     print(i)
     print(dfs[i].isnull().sum())
     print("\n")

AAPL
Date       0
Open       0
High       0
Low        0
Close      0
Volume     0
OpenInt    0
dtype: int64


AMZN
Date       0
Open       0
High       0
Low        0
Close      0
Volume     0
OpenInt    0
dtype: int64


GOOGL
Date       0
Open       0
High       0
Low        0
Close      0
Volume     0
OpenInt    0
dtype: int64


MSFT
Date       0
Open       0
High       0
Low        0
Close      0
Volume     0
OpenInt    0
dtype: int64


TSLA
Date       0
Open       0
High       0
Low        0
Close      0
Volume     0
OpenInt    0
dtype: int64

* Now we can see that there is no NaN values in each ticker , so there is no need of interpolation or ffill
* Now we will convert the Date column to datetime format and then we will sort data by date

In [5]:
for i in dfs :
    dfs[i]['Date'] = pd.to_datetime(dfs[i]['Date'])
    dfs[i] = dfs[i].sort_values('Date')
    print(dfs[i]['Date'].dtypes) #checking for succesfull conversion into date time format

datetime64[ns]
datetime64[ns]
datetime64[ns]
datetime64[ns]
datetime64[ns]


# Filtering the data

* Now we will use filter the data from 2007 to 2017 using `between()` function

In [39]:
for i in dfs:
    dfs[i] = dfs[i][dfs[i]['Date'].between(pd.Timestamp("2007-01-01"), pd.Timestamp("2017-01-01"))]


# Adding the Daily return column

* We will use `assign()` to add column and `pct_change()` to calculate percentage change in closing price
* We know that first value of daily return will be NaN , so we will use `fillna()` function to fill that value with 0

In [ ]:
for i in dfs :
    dfs[i] = dfs[i].assign(Daily_Return = dfs[i]['Close'].pct_change().fillna(0))


# Adding the 7-day Moving average,30-day Moving average,Rolling Volatility(30d)

* We will use `rolling()` function and will make moving window according to the requirement and will set min_period = 1 otherwise it will show NaN values in starting
* We will use `std()` and `mean()` function

In [17]:
for i in dfs:
    dfs[i] = dfs[i].assign(Mov_average_7 = dfs[i]['Close'].rolling(7,min_periods=1).mean(),
                           Mov_average_30 = dfs[i]['Close'].rolling(30,min_periods = 1).mean(),
                           Rol_vol_30 = dfs[i]['Daily_Return'].rolling(30,min_periods = 1).std().fillna(0))

* Now we will find highest average return

In [18]:
high = -float('inf')
for i in dfs:
    avg = dfs[i]['Daily_Return'].mean()
    if avg >= high :
        high = avg
        stock = i
print(stock)

TSLA

* TSLA has the highest average return
* Now we will find the most volatile month

In [22]:
high = -float('inf')
for i in dfs:
    most_volatile = dfs[i]['Rol_vol_30'].max()
    if most_volatile >= high :
        high = most_volatile
        date = dfs[i]['Date'][dfs[i]['Rol_vol_30'].idxmax()]
        stocks = i
print(date)
print(stocks)

2010-06-29 00:00:00
TSLA